@*what apprears ont he sreen on top of  register*@
<h1>Welcome to GC Coffee</h1>
@*first quote is the link name second is the action name in the home controller three points to controller*@
<p>@Html.ActionLink("Register", "Register", "Home")</p>